/**
 *
 * mGrid
 * Basic responsive mobile first x-column grid system.
 *
 * @url https://github.com/l4ci/mGrid
 * @author Volker Otto <hello@volkerotto.net>
 *
 **/
/**
 * Breakpoints
 */
/**
 * Calculate column width in %
 * @param  {integer} $columns
 * @return {integer} %
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.row {
  display: block;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  text-align: left;
  vertical-align: top; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  position: relative;
  min-height: 1px;
  text-align: left;
  display: block;
  float: left;
  margin: 0 0;
  padding: 0 15px;
  /* Col in a Col removes padding */ }
  [class*='col-'] [class*='col-']:first-child {
    padding-left: 0; }
  [class*='col-'] [class*='col-']:last-child {
    padding-right: 0; }

/* Create a row without padding */
.row-nopad [class*='col-'] {
  padding: 0 0; }

/**
 * Default, Extra Small Devices
 * (Phones)
 */
.col-1 {
  width: 8.33333%; }

.xs-col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.xs-col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.xs-col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.xs-col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.xs-col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.xs-col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.xs-col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.xs-col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.xs-col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.xs-col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.xs-col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.xs-col-12 {
  width: 100%; }

.hide-on-xs {
  display: none; }

.show-on-xs {
  display: block; }

.xs-align-left {
  text-align: left; }

.xs-align-right {
  text-align: right; }

.xs-align-center {
  text-align: center; }

/**
 * Small devices
 * (tablets, big smartphones)
 */
@media (min-width: 500px) {
  .container {
    max-width: 100%; }

  .hide-on-s {
    display: none; }

  .show-on-s {
    display: block; }

  .s-align-left {
    text-align: left; }

  .s-align-right {
    text-align: right; }

  .s-align-center {
    text-align: center; }

  .s-col-1 {
    width: 8.33333%; }

  .s-col-2 {
    width: 16.66667%; }

  .s-col-3 {
    width: 25%; }

  .s-col-4 {
    width: 33.33333%; }

  .s-col-5 {
    width: 41.66667%; }

  .s-col-6 {
    width: 50%; }

  .s-col-7 {
    width: 58.33333%; }

  .s-col-8 {
    width: 66.66667%; }

  .s-col-9 {
    width: 75%; }

  .s-col-10 {
    width: 83.33333%; }

  .s-col-11 {
    width: 91.66667%; }

  .s-col-12 {
    width: 100%; } }
/**
 * Medium devices
 * (laptop, tablets)
 */
@media (min-width: 750px) {
  .container {
    max-width: 800px; }

  .hide-on-m {
    display: none; }

  .show-on-m {
    display: block; }

  .m-align-left {
    text-align: left; }

  .m-align-right {
    text-align: right; }

  .m-align-center {
    text-align: center; }

  .m-col-1 {
    width: 8.33333%; }

  .m-col-2 {
    width: 16.66667%; }

  .m-col-3 {
    width: 25%; }

  .m-col-4 {
    width: 33.33333%; }

  .m-col-5 {
    width: 41.66667%; }

  .m-col-6 {
    width: 50%; }

  .m-col-7 {
    width: 58.33333%; }

  .m-col-8 {
    width: 66.66667%; }

  .m-col-9 {
    width: 75%; }

  .m-col-10 {
    width: 83.33333%; }

  .m-col-11 {
    width: 91.66667%; }

  .m-col-12 {
    width: 100%; } }
/**
 * Large devices
 * (desktops, 992px and up)
 */
@media (min-width: 1000px) {
  .container {
    max-width: 1000px; }

  .hide-on-l {
    display: none; }

  .show-on-l {
    display: block; }

  .l-align-left {
    text-align: left; }

  .l-align-right {
    text-align: right; }

  .l-align-center {
    text-align: center; }

  .l-col-1 {
    width: 8.33333%; }

  .l-col-2 {
    width: 16.66667%; }

  .l-col-3 {
    width: 25%; }

  .l-col-4 {
    width: 33.33333%; }

  .l-col-5 {
    width: 41.66667%; }

  .l-col-6 {
    width: 50%; }

  .l-col-7 {
    width: 58.33333%; }

  .l-col-8 {
    width: 66.66667%; }

  .l-col-9 {
    width: 75%; }

  .l-col-10 {
    width: 83.33333%; }

  .l-col-11 {
    width: 91.66667%; }

  .l-col-12 {
    width: 100%; } }
/**
 * Extra Large devices
 * (large desktops)
 */
@media (min-width: 1500px) {
  .container {
    max-width: 1400px; }

  .hide-on-xl {
    display: none; }

  .show-on-xl {
    display: block; }

  .xl-align-left {
    text-align: left; }

  .xl-align-right {
    text-align: right; }

  .xl-align-center {
    text-align: center; }

  .xl-col-1 {
    width: 8.33333%; }

  .xl-col-2 {
    width: 16.66667%; }

  .xl-col-3 {
    width: 25%; }

  .xl-col-4 {
    width: 33.33333%; }

  .xl-col-5 {
    width: 41.66667%; }

  .xl-col-6 {
    width: 50%; }

  .xl-col-7 {
    width: 58.33333%; }

  .xl-col-8 {
    width: 66.66667%; }

  .xl-col-9 {
    width: 75%; }

  .xl-col-10 {
    width: 83.33333%; }

  .xl-col-11 {
    width: 91.66667%; }

  .xl-col-12 {
    width: 100%; } }
